<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>IGF Stats</title>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="IGF Stats">
    <meta property="og:type" content="website">
    <link rel="stylesheet"  href="{{url_for('static', filename='style.css')}}" >

    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
    
    <script>
    function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
  </script>
        
   
  </head>
  <body data-home-page="admin.html" data-home-page-title="IGF Admin">
  
  <div class= "header-image"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Current Board</a>
      <a href="past">Past Boards</a>
      <a href="stats">IGF Stats</a>
      <a href="research">Player Research</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  <br>
<div class="container">

        <form action="{{ url_for('admin')}}" method="post" onsubmit="return confirm('Are you sure you want to edit this draft pick?')">
        <label for="draftYear">Draft Year:</label>
            <select name="dYear">
	      <option value="2025">2025</option>
	      <option value="2024">2024</option>
	      <option value="2023">2023</option>
	      <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
            </select>
        
        <label for="tournament">Tournament:</label>
            <select name="tourney">
              <option value="The Masters">The Masters</option>
              <option value="PGA Championship">PGA Championship</option>
              <option value="THE PLAYERS Championship">THE PLAYERS Chapionship</option>
              <option value="U.S. Open">U.S. Open</option>
              <option value="The Open Championship">The Open Championship</option>
            </select>

	  <label for="overallSelection">Overall Selection:</label>
            <select name="selection">
              <option value="1">1</option>
		  <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
		  <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
		  <option value="33">33</option>
		  <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
            </select>

	<label for="golferDraft">Golfer:</label>
		<select name="golfer" class="js-example-basic-single" style="width: 150px;">
			<option value=DELETE>Delete Selection</option>
			{% for g in golferList %}
              		<option value={{g.dg_id}}>{{g.player_name}}</option>
			{% endfor %}
            </select>
     	
	<button type="submit">Update Pick</button>
        
     </div>  
     <br>  
    
</body></html>