{% extends "layout.html" %}
{% block title %}Admin Site{% endblock %}

{% block content %}
<div class="container">

        <form action="{{ url_for('admin')}}" method="post" onsubmit="return confirm('Are you sure you want to edit this draft pick?')">
        <label for="draftYear">Draft Year:</label>
            <select name="dYear">
	      {% for y in years %}
    		<option value="{{ y }}">{{ y }}</option>
  	      {% endfor %}
	    </select>
<br>
        
        <label for="tournament">Tournament:</label>
            <select name="tourney">
              <option value="The Masters">The Masters</option>
              <option value="PGA Championship">PGA Championship</option>
              <option value="THE PLAYERS Championship">THE PLAYERS Chapionship</option>
              <option value="U.S. Open">U.S. Open</option>
              <option value="The Open Championship">The Open Championship</option>
            </select>
<br>
	  <label for="overallSelection">Overall Selection:</label>
            <select name="selection">
              <option value="1">1</option>
	      <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
	      <option value="12">12</option>
	      <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
	      <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
	      <option value="33">33</option>
	      <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
            </select>
<br>

	<label for="golferDraft">Golfer:</label>
		<select name="golfer" class="js-example-basic-single" style="width: 200px;">
			<option value=""></option>
			<option value=DELETE>Delete Selection</option>
			{% for g in golferList %}
              		<option value="{{g.dg_id}}">{{g.player_name}}</option>
			{% endfor %}
            </select>
     	
	<button type="submit">Update Pick</button>
<br>
        
     </div>
{% endblock %}
