{% extends "layout.html" %}
{% block title %} IGF Results - Champions {% endblock %}
{% block content %}
<div>
    <p><strong> IGF Results - Champions</strong></p>
    <br>
    <div>
              <table class = "sortable">
			<tr>
                      {% for header in champ_heads %}
                      <th> {{header | safe}} </th>
                      {% endfor %}
                  </tr>
                  <tr>
                      {% for header in champ_heads %}
				{% if header == 'THE PLAYERS Championship' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/the_players.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'The Masters' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/the_masters.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'PGA Championship' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/pga_championship.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'U.S. Open' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/us_open.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'The Open Championship' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/open_championship.png') }}" style="height:100px"/> </th>
				{% else %}
					<th></th>
			      {% endif %}
                      {% endfor %}
                  </tr>

                  {% for row in champs %}
                  <tr>
                      {% for cell in row %}
				{% if loop.index == 1 %}
                      		<td>{{ cell | safe}} </td>
				{% elif loop.index == 2 %}
					<td><b>{{ row[1] | safe}}</b><br><i>({{ row[2] | safe}})</i> </td>
				{% elif loop.index == 4 %}
					<td><b>{{ row[3] | safe}}</b><br><i>({{ row[4] | safe}})</i> </td>
				{% elif loop.index == 6 %}
					<td><b>{{ row[5] | safe}}</b><br><i>({{ row[6] | safe}})</i> </td>
				{% elif loop.index == 8 %}
					<td><b>{{ row[7] | safe}}</b><br><i>({{ row[8] | safe}})</i> </td>
				{% elif loop.index == 10 %}
					<td><b>{{ row[9] | safe}}</b><br><i>({{ row[10] | safe}})</i> </td>
				{% endif %}
                      {% endfor %}

                  </tr>
                  {% endfor %}
             </table>
            </div>
{% endblock %}
</div>

   
</body></html>
