{% extends "layout.html" %}
{% block title %} IGF Results - Champions {% endblock %}
{% block content %}
<div>
    <p><strong> IGF Results - Champions</strong></p>
    <br>
    <div>
              <table class = "sortable">
			<tr>
                      {% for header in champ_heads %}
                      <th> {{header | safe}} </th>
                      {% endfor %}
                  </tr>
                  <tr>
                      {% for header in champ_heads %}
				{% if header == 'THE PLAYERS Championship' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/the_players.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'The Masters' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/the_masters.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'PGA Championship' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/pga_championship.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'U.S. Open' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/us_open.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'The Open Championship' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/open_championship.png') }}" style="height:100px"/> </th>
                      	{% elif header == 'Ryder Cup' %}
                      		<th style="text-align:center"><img src="{{url_for('static',filename='images/ryder_cup.png') }}" style="height:100px"/> </th>
				{% else %}
					<th></th>
			      {% endif %}
                      {% endfor %}
                  </tr>

                  {% for row in champs %}
                  <tr>
                      <td>{{ row[0] | safe}} </td>
                      <td><b>{{ row[1] | safe}}</b><br><i>({{ row[2] | safe}})</i> </td>
                      <td><b>{{ row[3] | safe}}</b><br><i>({{ row[4] | safe}})</i> </td>
                      <td><b>{{ row[5] | safe}}</b><br><i>({{ row[6] | safe}})</i> </td>
                      <td><b>{{ row[7] | safe}}</b><br><i>({{ row[8] | safe}})</i> </td>
                      <td><b>{{ row[9] | safe}}</b><br><i>({{ row[10] | safe}})</i> </td>
                      <td><b>{{ row[11] | safe if row[11] else '' }}</b>{% if row[12] %}<br><i>({{ row[12] | safe}})</i>{% endif %}</td>
                  </tr>
                  {% endfor %}
             </table>
            </div>
</div>
{% endblock %}
