{% extends "layout.html" %}
{% block title %}IGF Results - CUM{% endblock %}
{% block content %}

<div>
    <p><strong> IGF Results - CUM</strong></p>
    <div class="container">

        <form action="{{ url_for('cum')}}" method="post">
        <label for="draftYear">Draft Year:</label>
            <select name="dYear">
              <option value="All-Time">All-Time</option>
	      {% for y in years %}
    		<option value="{{ y }}">{{ y }}</option>
  	      {% endfor %}
            </select>
        
        <button type="submit">Get CUM</button>
        
     </div>  
     <br>
     <p><strong> {{ board_string | safe}}</strong></p>
          <div>
              <table class="sortable">
                  <tr>
                      {% for header in cum_heads %}
                      <th> {{header | safe}} </th>
                      {% endfor%}
                  </tr>
                  {% for row in cum_data %}
                  <tr>
                      {% for cell in row %}
                      <td>{{ cell | safe}} </td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
             </table>
            </div>
</div>

   
{% endblock %}
