{% extends "layout.html" %}
{% block title %}Current Board{% endblock %}

{% block content %}
  <section class="mb-5" {{ visability | safe}}>
    <p><strong>
      Pick Number on the clock:
      {{ current_pick | safe}} ({{ current_igf | safe}})
    </strong></p>

    <form action="{{ url_for('current') }}" method="post"
          onsubmit="return confirm('Are you sure you want to make this draft pick?')">
      <div class="form-row align-items-center">
        <label for="golferDraft" class="mr-2" {{ visability | safe }}>Golfer to Draft:</label>
        <select name="golfer" id="golferDraft"
                class="js-example-basic-single mb-2" {{ visability | safe }}>
                {% if golferList|length <= 1 %} disabled {% endif %}>
          {% for _, value in golferList.iterrows() %}
            <option value="{{ value['dg_id'] }}">
              {{ value['player_name'] }}
            </option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mb-2" {{ visability | safe }}>
          Submit Pick
        </button>
      </div>
    </form>
  </section>

  <section class="mb-5">
    <p><strong>{{ board_string }}</strong></p>
  </section>

  <section class="mb-5">
    <h2>IGF Leaderboard</h2>
    <div class="table-responsive">
      <table class="sortable">
        <thead>
          <tr>
            {% for header in igf_leaderboard_heads %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in igf_data %}
            <tr>
              {% for cell in row %}
                {% if loop.index > 2 %}
                  <td data-label="{{ igf_leaderboard_heads[loop.index0] }}">
                    <img src="{{ url_for('static',
                        filename='images/' ~ igf_data_dg[rowloop.index0][loop.index0] ~ '.png') }}"
                         alt="" class="icon-img">
                    {{ cell }}
                  </td>
                {% else %}
                  <td data-label="{{ igf_leaderboard_heads[loop.index0] }}">
                    {{ cell }}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <section class="mb-5">
    <h2>More Information</h2>
    <div class="table-responsive">
      <table class="sortable">
        <thead>
          <tr>
            {% for header in headings %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in tournament_data %}
            <tr>
              {% for cell in row %}
                {% if loop.index == 1 %}
                  <td data-label="{{ headings[loop.index0] }}">
                    <img src="{{ url_for('static',
                        filename='images/' ~ row[-1]|replace('.0','') ~ '.png') }}"
                         alt="" class="icon-img">
                    {{ cell }}
                  </td>
                {% elif not loop.last %}
                  <td data-label="{{ headings[loop.index0] }}">
                    {{ cell }}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
