{% extends "layout.html" %}
{% block title %} HARD ON INDEX {% endblock %}
{% block content %}

<br>

<div>
    <p><strong> HARD ON INDEX</strong></p>
    <div class="container">

        <form action="{{ url_for('hard_on')}}" method="post" onsubmit=>
        <label for="draftYear">Draft Year:</label>
            <select name="dYear">
              <option value="All Time">All Time</option>
	      {% for y in years %}
    		<option value="{{ y }}">{{ y }}</option>
  	      {% endfor %}
            </select>
        
        <label for="tournament">Tournament:</label>
            <select name="tourney">
              <option value="All Tournaments">All Tournaments</option>
              <option value="The Masters">The Masters</option>
              <option value="PGA Championship">PGA Championship</option>
              <option value="THE PLAYERS Championship">THE PLAYERS Chapionship</option>
              <option value="U.S. Open">U.S. Open</option>
              <option value="The Open Championship">The Open Championship</option>
            </select>
        <button type="submit">Get Hard On</button>
        
     </div>  
     <br>
     <p><strong> {{ board_string | safe}}</strong></p>
          <div>
              <table class="sortable">
                  <tr>
                      {% for header in hard_on_heads %}
                      <th> {{header | safe}} </th>
                      {% endfor%}
                  </tr>
                  {% for row in hard_on_data %}
                  <tr>
                      {% for cell in row %}
                      <td>{{ cell | safe}} </td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
             </table>
            </div>
</div>

{% endblock %}
