{% extends "layout.html" %}
{% block title %}Post Results{% endblock %}
{% block content %}
<div class="container">

        <form action="{{ url_for('post')}}" method="post">
        <label for="draftYear">Draft Year:</label>
            <select name="dYear">
	      {% for y in years %}
    		<option value="{{ y }}">{{ y }}</option>
  	      {% endfor %}
	    </select>
        
        <label for="tournament">Tournament:</label>
            <select name="tourney">
              <option value="The Masters">The Masters</option>
              <option value="PGA Championship">PGA Championship</option>
              <option value="THE PLAYERS Championship">THE PLAYERS Chapionship</option>
              <option value="U.S. Open">U.S. Open</option>
              <option value="The Open Championship">The Open Championship</option>
            </select>
     	
	<button type="submit" name="fetch">Post Results</button>

        
     </div>  
     <br>  

<div class="headers">
<p><strong>IGF Leaderboard:</strong></p>
</div>
<br>
  <div class = "tables">
      <table class="sortable">
          <tr>
              {% for header in final_leaderboard_heads %}
              <th> {{header | safe}} </th>
              {% endfor%}
          </tr>
          {% for row in igf_data %}
          <tr>
              {% for cell in row %}
              <td>{{ cell | safe}} </td>
              {% endfor %}
          </tr>
          {% endfor %}
     </table>
    </div>
<br>

{% endblock %}
