{% extends "layout.html" %}
{% block title %}Golfer Rankings {% endblock %}
{% block content %}
<br>
<br>
<div class="container">

<h1>Golfer Rankings</h1>
<table class="sortable">
                <tr>
                    <th>Player</th>
                    <th>SG-Off the tee</th>
                    <th>SG-Approach</th>
                    <th>SG-Around the green</th>
                    <th>SG-Putt</th>
                    <th>SG-Total</th>
                    <th>Driving Dist.</th>
                    <th>Driving Acc.</th>
                </tr>
                {% for golfer in golfer_stats %}
                <tr>
		  {% for cell in golfer %}
                      <td>{{ cell | safe}} </td>
                  {% endfor %}
                </tr>
                {% endfor %}
        </table>
    </div>      

{% endblock %}

