{% extends "layout.html" %}
{% block title %}TEST PAGE{% endblock %}
{% block content %}
    <div class="container">

        <form action="{{ url_for('test')}}" method="post">
        <label for="draftYear">Draft Year:</label>
            <select name="dYear">
	      {% for y in years %}
    		<option value="{{ y }}">{{ y }}</option>
  	      {% endfor %}
	    </select>
        
        <label for="tournament">Tournament:</label>
            <select name="tourney">
              <option value="The Masters">The Masters</option>
              <option value="PGA Championship">PGA Championship</option>
              <option value="THE PLAYERS Championship">THE PLAYERS Chapionship</option>
              <option value="U.S. Open">U.S. Open</option>
              <option value="The Open Championship">The Open Championship</option>
            </select>
        <button type="submit">Get Board</button>
        
     </div>  
     <br>

        <p><strong>IGF Leaderboard:</strong></p>
          <div>
              <table class="sortable">

		{% for row in igf_data %}
                    <tr>
                      {% for cell in row %}
       				<td> {{ cell | safe}} </td>
	              {% endfor %}
                  </tr>
                  {% endfor %}
     </table>
    </div>
<br>
        <p><strong> DG Data </strong></p>
          <div>
              <table class="sortable">
                 {% for row in igf_data_dg %}
                    <tr>
                      {% for cell in row %}
       				<td> {{ cell | safe}} </td>
	              {% endfor %}
                  </tr>
                  {% endfor %}

             </table>
            </div>

        
<p><strong> Reduced Data </strong></p>
          <div>
              <table class="sortable">
                 {% for row in reduced_tuple_dg %}
                    <tr>
                      {% for cell in row %}
       				<td> {{ cell | safe}} </td>
	              {% endfor %}
                  </tr>
                  {% endfor %}

             </table>
            </div>

<p><strong> Tournament Data </strong></p>
          <div>
              <table class="sortable">
                 {% for row in tournament_data %}
                    <tr>
                      {% for cell in row %}
       				<td> {{ cell | safe}} </td>
	              {% endfor %}
                  </tr>
                  {% endfor %}

             </table>
            </div>

{% endblock %}
