{% extends "layout.html" %}
{% block title %}Update Current Draft{% endblock %}
{% block content %}
<div class="container">

        <form action="{{ url_for('update_draft')}}" method="post">
        <label for="draftYear">Draft Year:</label>
            <select name="dYear">
	      {% for y in years %}
    		<option value="{{ y }}">{{ y }}</option>
  	      {% endfor %}
	    </select>
        
        <label for="tournament">Tournament:</label>
            <select name="tourney">
              <option value="The Masters">The Masters</option>
              <option value="PGA Championship">PGA Championship</option>
              <option value="THE PLAYERS Championship">THE PLAYERS Chapionship</option>
              <option value="U.S. Open">U.S. Open</option>
              <option value="The Open Championship">The Open Championship</option>
            </select>
     	
	<button type="submit" name="fetch">Update Current Draft</button>

        
     </div>  
     <br>  

<div class="headers">
<p><strong>Current Draft:</strong></p>
</div>
<br>
  <div class = "tables">
      <table class="sortable">
          <tr>
              {% for header in current_draft_heads %}
              <th> {{header | safe}} </th>
              {% endfor%}
          </tr>
          <tr>
              <td>{{ current_draft_year | safe }} </td>
		  <td>{{ current_draft_tourney | safe }} </td>
          </tr>
     </table>
    </div>
<br>

{% endblock %}
